@charset "utf-8";
.modual {
    border-bottom: 2px solid #999;
    padding: 5px;
}

.modual h2 {
    border-bottom: 1px dashed #ddd;
    font-size: 24px;
    font-weight: bold;
    padding: 3px;
}

.introduce, .usage, .example {
    margin: 10px 20px;
}

.introduce em, .usage em, .example em {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}
.introduce p {
    padding: 10px 20px;
}
.demo {
    margin-top: 10px;
}