@charset "utf-8";

.navigation {
    position: fixed;
    border: 1px solid #000;
    top: 20px;
    right: 40px;
    font-size: 14px;
    background: #ddd;
    color: green;
    padding: 15px;
}

.navigation .nav-bar {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

.navigation .nav-bar em {
    font-weight: bolder;
}

.navigation ul {
    padding: 5px 0 0 15px;
    list-style: circle;
}

.navigation ul li {
    padding: 3px;
    border-bottom: 1px dashed #666;
}

.navigation ul li a {
    text-decoration: none;
	color: green;
}

.navigation .nav-active {
    background: #0F192A;
	
}

.navigation .nav-active a {
    color: #FFAA3E;
}

.modual {
    border-bottom: 2px solid #000;
    padding: 5px;
}

.modual h2 {
    border-bottom: 1px dashed #ddd;
    font-size: 24px;
    font-weight: bold;
    padding: 3px;
    -moz-user-select: none;
    cursor: pointer;
}

.modual h2 a {
    text-decoration: none;
    color: #000;
}

.introduce, .usage, .example {
    margin: 10px 20px;
}

.introduce em, .usage em, .example em {
    font-size: 16px;
    font-weight: bold;
    color: blue;
}

.introduce p {
    padding: 10px 20px;
}

.demo {
    margin-top: 10px;
}

.result {
    width: 600px;
    height: 150px;
    border: 1px solid #ddd;
    overflow: auto;
}
