.m-cal {
  position: absolute;
  background: #fff;
  color: #333;
  border: 1px solid #D7D7D9;
  width: 210px;
  display: none;
}

.m-cal .m-cal-preyear, .m-cal .m-cal-premonth, .m-cal .m-cal-nextyear, .m-cal .m-cal-nextmonth {
  width: 20px;
  height: 16px;
  cursor: pointer
}

.m-cal .m-cal-preyear {
  background: url(./images/calendar/prevYear.png) no-repeat 3px;
  _background: url(./images/calendar/prev_year.gif) no-repeat 3px;
}

.m-cal .m-cal-premonth {
  background: url(./images/calendar/prevMonth.png) no-repeat 5px;
  _background: url(./images/calendar/prev_month.gif) no-repeat 3px;
}

.m-cal .m-cal-nextyear {
  background: url(./images/calendar/nextYear.png) no-repeat 3px;
  _background: url(./images/calendar/next_year.gif) no-repeat 3px;
}

.m-cal .m-cal-nextmonth {
  background: url(./images/calendar/nextMonth.png) no-repeat 3px;
  _background: url(./images/calendar/next_month.gif) no-repeat 3px;
}

.m-cal .m-cal-item {
  display: inline-block;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 28px;
  margin: 1px;
}

.m-cal a.m-cal-item {
  text-decoration: none;
}

.m-cal .m-cal-selected-item {
  border: 1px solid #666;
  background: blue;
  color: #eee;
}

.m-cal .m-cal-disabled-item {
  border: 1px solid #666;
  background: #ddd;
  color: #eee;
}

.m-cal .m-cal-head {
  width: 100%;
  height: 38px;
  background: #363737;
  border: 1px solid #363737
}

.m-cal .m-cal-head td {
  height: 20px;
  line-height: 20px;
  text-align: center;
}

.m-cal .m-cal-weekday {
  border-collapse: collapse;
  font-size: 12px;
  background: #F5F5F5;
  color: #646464;
  width: 100%;
}

.m-cal .m-cal-headtext {
  font-size: 14px;
  color: #F5F5F5;
  text-align: center;
  font-weight: 700
}

.m-cal .m-cal-weekday-info {
  color: #333;
  font-size: 11px;
  width: 28px;
  background: #F5F5F5;
}

.m-cal .m-cal-weekday .m-cal-weekday-item {
  text-align: center;
  color: #333;
}

.m-cal .m-cal-body {
  width: 100%;
  background: #FFF;
  border-collapse: collapse;
}

.m-cal .m-cal-body td {
  padding: 0;
  margin: 0;
  width: 28px;
  height: 28px
}

.m-cal .m-cal-body .m-cal-body-item {
  text-align: center;
  color: #000;
  cursor: pointer;
}

.m-cal .m-cal-body .m-cal-body-item:hover {
  background: #0074CC;
  color: #fff;
}

.m-cal .m-cal-body .selected-item {
  background: #0074CC;
  color: #fff;
  font-weight: bolder;
}

.m-cal .m-cal-body .m-cal-dis-item {
  color: #ddd;
  cursor: default;
}

.m-cal .m-cal-bar {
  height: 32px;
  line-height: 32px;
  width: 100%;
  border-top: 1px solid #F5F5F5;
}

.m-cal .m-cal-time {
  text-align: left;
  padding-left: 6px;
}

