@charset "utf-8";
.resize-anchor {
    position: absolute;
    width: 8px;
    height: 8px;
    background: #98fb98;
}
.resize-tl {
    top:-4px;
    left: -4px;
    cursor:nw-resize;
    z-index: 1;
    background: #db7093;
}
.resize-t {
    top: -4px;
    width: 100%;
    cursor: n-resize;
}
.resize-tr {
    top:-4px;
    right: -4px;
    cursor:ne-resize;
    z-index: 1;
    background: #db7093;
}
.resize-l {
    left: -4px;
    height: 100%;
    cursor: w-resize;
}
.resize-r {
    right: -4px;
    height: 100%;
    cursor: e-resize;
}
.resize-bl {
    bottom: -4px;
    left: -4px;
    cursor: sw-resize;
    z-index: 1;
    background: #db7093;
}
.resize-b {
    bottom: -4px;
    width: 100%;
    cursor: s-resize;
}
.resize-br {
    bottom: -4px;
    right: -4px;
    cursor: se-resize;
    z-index: 1;
    background: #db7093;
}